@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-dark text-center p-5">
    <div class="container">
        <div class="row text-center p-5">
        </div>
        <div class="row text-center">
            <h2 class="fs-1 bold text-dark">Hi! I'm Yujung'</h2>
            <p class="fs-4">
                Aspiring Software Developer <br />
                Software Engineering Technology Student at the Conestoga College.
            </p>
        </div>
        <div class="row text-center">
        </div>
    </div>
</div>

<div class="text-center">
    <h3 class="fs-2 bold text-dark p-3">About me</h3>
    <p>Hello! I'm Yujung (Kate) Park, a passionate and dedicated software engineering student. I have always been fascinated by the world of technology and its ability to transform lives. My journey into the world of programming started during my early years of high school, where I discovered the joy of creating software and solving real-world problems.
        </p>
</div>
