@{
    ViewData["Title"] = "Portfolio";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">Recent Projects</p>

<!-- cards-->
<div class="container">
    <div class="row p-3">
        <div class="col-md-4">
            <div class="card">
                <a href="https://github.com/minimalU/2023SmartCityHackathon" target="_blank" >
                    <img src="../img/prescriptxn.jpg" class="img-thumbnail card-image" alt="prescriptxn">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">PRESCRIPTXN</h4>
                    <p class="card-body text-center">
                        Smart Cities Hackathon Finalist
                    <br>
                        Python, Flask, mySQL, openAI API, JavaScript</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="https://github.com/minimalU/2023_MobileApplicationDevelopment" target="_blank">
                    <img src="../img/android.jpg" class="img-thumbnail card-image" alt="android">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">PARTY PLANNER</h4>
                    <p class="card-body text-center">
                        Mobile Application
                        <br>
                        Java, SQLite
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="https://github.com/minimalU/TransportationManagementSystem" target="_blank">
                    <img src="../img/prescriptxn.jpg" class="img-thumbnail card-image" alt="tms">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">TMS</h4>
                    <p class="card-body text-center">
                        Windows Application
                        <br>
                        C#, WPF, .NET, mySQL
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-4">
            <div class="card">
                <a href="https://card-match-2420e.firebaseapp.com/" target="_blank">
                    <img src="../img/cardgame.jpg" class="img-thumbnail card-image" alt="cardgame">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">Match Game</h4>
                    <p class="card-body text-center">
                        Game Application
                        <br>
                        React, Firebase, JavaScript
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="https://github.com/minimalU/2022_WebDevelopment" target="_blank">
                    <img src="../img/wdd.jpg" class="img-thumbnail card-image" alt="wdd">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">PRESCRIPTXN</h4>
                    <p class="card-body text-center">
                        Web Development Course Works
                        <br>
                        JavaScript, ASP.NET, PHP, jQuery, JSON, IIS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="TheParks/TheParksIndex.html" target="_blank">
                    <img src="../img/thumb1.jpg" class="img-thumbnail card-image" alt="TheParks">
                </a>
                <div class="card-block">
                    <h4 class="card-title text-center">PRESCRIPTXN</h4>
                    <p class="card-body text-center">
                        Responsive Web Design
                        <br>
                        HTML, CSS, Bootstrap
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>